<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../dependencies/styles/navbar_style.css">
    <script src="../dependencies/scripts/parent-page_script.js"></script>
</head>
<nav>
    <ul>
        <li>
            <img onclick="showPage('../pages/home.php')" class="icon" src="../assets/imgs/logo_no_bg.png" alt="bird-logo">
        </li>
            <li>
                <button onclick="showPage('../pages/home.php')">
                <img class="icon" src="../assets/imgs/house-icon-nobg.png" alt="house-icon"/>
                Home
                </button>
            </li>
        <li>
            <button onclick="showPage('../pages/profile-page.php')">
            <img class="icon" src="../assets/imgs/profile-icon.png" alt="profile-icon">
            Profile
            </button>
        </li>
        <li>
            <div class="dropdown">
                <img class="icon" src="../assets/imgs/elipsis-icon.png" alt="elipsis-icon">
                <button>More</button>
                <div class="dropdown-content">
                    <a><button onclick="showPage('../pages/manage.php')">Manage</button></a>
                    <a href="#">Lorem Ipsum</a>
                    <a href="#">Lorem Ipsum</a>
                </div>
            </div>
        </li>
        <li><button id="post">Post</button></li>
    </ul>
</nav>
</html>