<!-- extensie van de index pagina -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../styles/index_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body class="login-sect-3">
        <img src="../../../assets/imgs/logo_no_bg.png" class="img-wrapper">
        <input type="text" class="input-field" placeholder="Email" style="color: white;">
        <input type="password" class="input-field" placeholder="Password" style="color: white;">
            <button class="butt">Login</button>
</body>
</html>