body {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: rgb(128, 128, 128);
}

nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    margin: 0;
    overflow: hidden;
}

nav ul{
    list-style-type: none;
}

nav li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 20%;
}