body {
    font-family: Arial, sans-serif;
    overflow: auto;
    margin: 0;
}

footer {
    background-color: rgb(128, 128, 128);
}

.tweetOverview{
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    padding: 5px;
    height: 100%;
}

table{
    min-width: 100%;
    min-height: 100%;
    border-collapse: collapse;
}

tr:nth-child(3n):not(:last-child){
    border-bottom: 2px solid #657786;
    min-width: 100%;
}

.userName{
    font-size: 18px;
    font-weight: bold;
    display: inline;
}

.time_posted{
    font-size: 14px;
    font-style: italic;
    color: grey;
    display: inline;
}

.edit{
    margin-left: 95%;
    border-radius: 8px;
    border: none;
    background-color: rgb(77, 77, 195);
    color: white;
    width: 50px;
    height: 20px;
}

.delete {
    margin-left: 95%;
    border-radius: 8px;
    border: none;
    background-color: rgb(255, 87, 87);
    color: white;
    width: 50px;
    height: 20px;
    margin-top: 10px;
}

.tweetPost{
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    background-color: white;
    padding: 10px;
    position: sticky;
    top: 0;
}

.postButton{
    position: relative;
    width: 150px;
    height: 45px;
    background-color: rgb(77, 77, 195);
    border-radius: 20px;
    border-style: none;
    color: white;
    font-weight: bold;
    margin-left: 83.5%;
}

.profile_picture{
    vertical-align: 120px;
    width: 80px;
    height: 80px;
}

.tweetPost textarea{
    vertical-align: 20px;
    resize: none;
    border-style: none;
    height: 150px;
    width: 85%;
    padding: 15px;
}

.buttonBar{
    width: 20px;
    height: 20px;
    font-size: 15px;
}

.buttonBar img{
    width: 15px;
    height: 15px;
    padding: 5px;
}

#heart{
    background-color: white;
    width: 15px;
    height: 15px;
}

#imageIcon {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#hiddenButton{
    position:absolute;
    left: 20px;
    opacity: 0;
}