body {
    font-family: Arial, sans-serif;
    margin: 0;
}

footer {
    background-color: rgb(128, 128, 128);
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
}

#post{
    background-color: black;
    border-radius: 24px;
    border-style: none;
    color: white;
    margin-top: 50%;
    width: 80%;
    font-size: 40px;
}

.tweetOverview{
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    padding: 10px;
    height: 60%;
    width: 78vw;
    margin-left: 21vw;
}

.tweetText{
    width: 100vw;
}

.userName{
    font-size: 18px;
    font-weight: bold;
    display: inline;
}

.time_posted{
    font-size: 14px;
    font-style: italic;
    color: grey;
    display: inline;
}

.tweetPost{
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    max-width: 78vw;
    margin-left: 21vw;
    padding: 10px;
}

.postButton{
    position: relative;
    width: 150px;
    height: 45px;
    background-color: deepskyblue;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-weight: bold;
    margin-left: 83.5%;
}

.profile_picture{
    vertical-align: 14vw;
    width: 80px;
    height: 80px;
    margin-top: 1.5%;
}

.tweetPost textarea{
    vertical-align: 2vw;
    resize: none;
    border-style: none;
    width: 85%;
    height: 25vh;
    padding: 20px;
}

.buttonBar{
    width: 2.5vw;
    height: 5vh;
}

.buttonBar img{
    width: 1vw;
    height: 2vh;
    padding: 5px;
}

.buttonBar button{
    border-style: none;
    background-color: white;
}

#heart{
    background-color: white;
    width: 1vw;
    height: 2vh;
}

#imageIcon {
    width: 50px;
    height: 50px;
    margin-left: 4vw;
    margin-bottom: -5vh;
}