body {
    font-family: Arial, sans-serif;
    overflow: auto;
    margin: 0;
}

footer {
    background-color: rgb(128, 128, 128);
}

.tweetOverview{
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    padding: 10px;
    height: 100%;
}

table{
    min-width: 100%;
    min-height: 100%;
}

tr, td{
    border-style: solid;
    border-color: grey;
    border-width: 2px;
}

.userName{
    font-size: 18px;
    font-weight: bold;
    display: inline;
}

.time_posted{
    font-size: 14px;
    font-style: italic;
    color: grey;
    display: inline;
}

.tweetPost{
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    padding: 10px;
}

.postButton{
    position: relative;
    width: 150px;
    height: 45px;
    background-color: deepskyblue;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-weight: bold;
    margin-left: 83.5%;
}

.profile_picture{
    vertical-align: 120px;
    width: 80px;
    height: 80px;
}

.tweetPost textarea{
    vertical-align: 20px;
    resize: none;
    border-style: none;
    height: 150px;
    width: 85%;
    padding: 15px;
}

.buttonBar{
    width: 20px;
    height: 20px;
    font-size: 5px;
}

.buttonBar img{
    width: 15px;
    height: 15px;
    padding: 5px;
}

#heart{
    background-color: white;
    width: 15px;
    height: 15px;
}

#imageIcon {
    width: 50px;
    height: 50px;
}