
.main-login-section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 97dvh;
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: solid;
    color: rgb(77, 77, 195);
}

.login-sect-1{
    width: 50%;
    background-color: rgb(77, 77, 195);
    color: white;
    padding-top: 20%;
    padding-left: 12%;
}


.sect-1-labels{
    list-style: none;
    padding: 2dvh;
}

.head-1{
    font-weight: bold;
    font-size: xx-large;
}

.head-2{
    font-weight: bold;
    font-size: large;
}

.login-sect-2{
    width: 50%;
    background-color:  white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-input-wrappers-container{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: orange; */
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
}

@media (max-width: 480px) {
    .text-input-wrappers-container {
        visibility: hidden;
    }
}


.input-wrapper{
    margin-left: 5px;
    border-style: solid;
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: grey;
}


.header-sign-in-butt{
    border-style: none;
    margin-left: 5px;
    height: 50px;
    width: 15%;
    background-color: grey;
    color: white;
    border-radius: 50px;
}

.header-sign-in-butt:hover{
    border-color: transparent;
    background-color: rgb(77, 77, 195);
    color: white;
}


.other-login-elements-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.img-wrapper{
    height: 5dvh;
    width: 5dvb;
}

.img-wrapper-small{
    height: 3dvh;
    width:  3dvb;
}

.register-butt{
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: none;
    height: 50px;
    width: 100%;
    background-color: rgb(77, 77, 195);
    border-radius: 20px;
    color: white;
}

.sign-in-butt{
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: solid;
    height: 50px;
    width: 100%;
    background-color: transparent;
    border-width: px;
    border-color:  rgb(77, 77, 195);
    border-radius: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 20px;
}

.fotter-chirpify{
    /* right: 100%; */
    margin: 5px;
}