body{
    margin: 0;
    overflow: hidden;
}

.navbar{
    min-width: 20%;
}

#parent_div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
}